@import url(http://fonts.googleapis.com/css?family=ABeeZee);

body{
  color: #666;
  background-color: #666;
  background-image: url('/images/flower.svg');
  font-family: ABeeZee;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.table {
    display:table;
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}

div.tile{
    /*border: solid #fff 2px;*/
    height:180px;
    width: 300px;
    /*display: table-cell;*/
    padding: 10px;
    float: left;
    margin: 5px;
    background-repeat: no-repeat;
}       
div.tile a{
    color: #fff;
}

.blue{
    background-color: #4055f2;
}
.red{
    background-color: #f24340;
}
.orange{
    background-color: #f29440;
}
.green{
    background-color: #51f240;
}
.yellow{
    background-color: #f2e140;
}
.purple{
    background-color: #b440f2;
}
.white{
    background-color: #fff;
}
.white a{
    color: #666;
}

#details{
    color: #fff;
    background: #c196fa; /* Old browsers */
background: -moz-linear-gradient(top, #c196fa 0%, #a567f5 47%, #8331ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c196fa), color-stop(47%,#a567f5), color-stop(100%,#8331ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c196fa 0%,#a567f5 47%,#8331ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c196fa 0%,#a567f5 47%,#8331ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c196fa 0%,#a567f5 47%,#8331ef 100%); /* IE10+ */
background: linear-gradient(to bottom, #c196fa 0%,#a567f5 47%,#8331ef 100%); /* W3C */
    padding: 10px;
    width: 600px;
    height: 550px;
    border-radius: 0;
    overflow: auto;
}
#details > a {
    color: #efefef;
}
#details > div{
    margin: 10px;
}
